<div class="container">
  <small id="subtitle" class="form-text text-muted"><%=comment.commenter%> at <%= comment.updated_at.localtime.strftime('%b %d, %Y %I:%M %p')%></small>
  <p><%= comment.body %></p>
</div>