<div class="container">
  <%= form_with model: [ post, post.comments.build ] do |form| %>
    <div class="form-group">
        <%= form.text_area :body, class: "form-control", placeholder: "Enter new comment" %>
    </div>
    <%= form.submit class: "btn btn-primary"%>
  <% end %>
</div>
